.about-hero {
    padding-bottom: 15vw;
}

.about-hero .content-wrapper .sub-heading {
    text-align: center;
    margin: auto !important;
}

#where,
#how {
    padding-top: 15vw;
    padding-bottom: 25vw;
}

#where {
    background-color: var(--quaternary);
}

#how {
    background-color: var(--secondary);
    padding-bottom: 35vw;
}

#connect {
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 15vw;
}

#connect h2 {
    font-family: 'Raleway', sans-serif!important;
    font-weight: 500;
    margin-bottom: 0px;
}

.social-bubble img {
    max-width: 100px;
}

.about-bubble {
    /* extension of .content-wrapper */

    padding: 5vw;
    background-color: var(--primary);
    border: var(--tertiary) solid 2px;
    border-radius: 50px 0px 50px 0px;
    margin-right: 0px;
    z-index: 100;
}

#about-page h2 {
    font-size: clamp(20pt, 10vw, 28px);
    margin-bottom: 16px;
}

.whereTopImg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}

.whereBottomImg,
.howBottomImg,
.connectBottomImg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: auto;
}

.connectBottomImg {
    bottom: -1px;
}

#about-page h1 {
    font-size: clamp(35pt, 10vw, 45pt);
}

/* .about-floater {
    max-height: 250px;
    object-fit: cover;
    width: 80%;
    border-radius: 0px 40px 0px 40px;
    margin-top: 16px;
    margin-bottom: 32px;
} */

#about-page #testimonials .content-wrapper p {
    font-style: normal;
}

#about-page .info-section_secondaryBG p:nth-child(odd) {
    margin-left: auto;
}

#about-page .info-section_secondaryBG p:nth-child(even) {
    margin-right: auto;
}

@media screen and (min-width: 800px) {

    .about-hero {
        padding-bottom: 5vw;
    }

    #where{
        padding-top: 10vw;
        padding-bottom: 15vw;
    }

    #how {
        padding-top: 5vw;
        padding-bottom: 25vw;
    }

    #connect {
        padding: 2.5vw;
    }

    .about-bubble {
        /* extension of .content-wrapper */
        padding: 2.5vw;
        background-color: var(--primary);
        border: var(--tertiary) solid 2px;
        border-radius: 50px 0px 50px 0px;
        margin-right: 0px;
        z-index: 100;
    }

    .whereBottomImg,
    .howBottomImg {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: auto;
    }
}