
#blog-filters {
    
}

#blog-filters p {
    margin: 0;
    font-size: 12pt;
    font-style: italic;
    font-weight: 400;
}

#blog-filters button:first-of-type {
    margin-left: 16px;
}

#blog-filters button {
    margin-right: 16px;
    padding: 2.5px;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 12px;
    border: 2px solid var(--quaternary);
    border-radius: 10px;
    cursor: pointer;
}

#main-blog {
    position: relative;
    padding-top: 0px;
    padding-bottom: 30vw;
}


.blog-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px;
    width: 90%;
    margin: auto;
}

.blog-thumb {
    width: 100%;
}

.blog-thumb_image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
}

.blog-thumb_inner {
    margin: 0px;
}

.blog-thumb_inner-tags {
    margin-bottom: 16px;
}

.blog-thumb_inner h3 {
    font-size: 20px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block; 
}

.blog-thumb_inner p {
    font-size: 12pt;
    font-size: 16px; 
    line-height: 1.5; 
    max-height: calc(1.5em * 5);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.blog-thumb_subheading {
    font-weight: 300;
    font-style: italic;
}

.tag {
    margin: auto;
    padding: 2.5px;
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 12px;
    border: 2px solid var(--quaternary);
    border-radius: 10px;
}

.main-blogBottomImage {
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 100%;
    height: auto;
}

@media screen and (min-width: 800px) {
    .blog-wrapper {
        width: 80%;
        gap: 64px 32px;
    }

    .blog-thumb {
        max-width: 30%;
    }
}