footer {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 10vw;
}

footer h2 {
    font-weight: 300;
    font-style: none;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 32px;
}

.signup-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.signup-inner input,
.signup-inner a {
    width: 100%;
    height: 40px;
    padding: 4px 8px;
    border-radius: 10px;
}

.signup-inner a {
    background-color: var(--quaternary);
    color: var(--primary);
    margin-top: 5vw;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0px;
    margin: 32px auto 16px;
}

.footer-nav li a {
    color: var(--primary);
}

.footer-section {
    margin-top: 64px;
}

.footer-section span {
    font-weight: bold;
    font-size: 18px;
}

.footer-line {
    width: 100%;
    height: 2px;
    margin: 8px auto 16px;
    background-color: var(--primary);
}

.footer-section ul li {
    margin-bottom: 16px;
}

.footer-section ul li a {
    color: var(--primary);
}

.social-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social-wrapper img {
    width: 25%;
    max-width: 200px;
}



@media screen and (min-width: 800px) {
    .signup-inner {
        width: 60%;
        justify-content: center;
        align-content: center;
        margin: auto;
    }

    .signup-inner input, 
    .signup-inner a {
        height: 40px;
        padding: 4px 8px;
        border: none;
    }

    .signup-inner input {
        width: 80%;
        border-radius: 20px 0 0 20px;
    }

    .signup-inner a {
        width: 20%;
        background-color: var(--quaternary);
        color: var(--primary);
        margin-top: 0;
        border-radius: 0 20px 20px 0;
    }

    .footer-nav {
        width: 50%;
        max-width: 500px;
    }

    .footer-section {
        max-width: 300px;
        margin: 64px auto 0;
    }

    .background-image {
        width: 100vw;
    }
}