/* naviation ----------------------------------------------------------- */
nav {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: 100px;
    background-color: var(--primary);
    z-index: 500;
}

#hamburger {
    width: 50px;
    cursor: pointer;
    margin-right: 50px;
    margin-left: auto;
}

#navbar {
    display: none; /* Initially hidden */
    position: absolute;
    top: 100px;
    right: 0;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 32px;
    text-align: center;
    color: var(--secondary);
    font-size: clamp(12pt, 5vw, 16pt);
    z-index: 1000;
    background-color: var(--primary);
    opacity: 0; /* Hidden by default */

}

#navbar li {
    margin-bottom: 40px;
}

#navbar li a {
    text-decoration: none;
    color: var(--secondary);
}

#navbar li a:hover {
    color: var(--quaternary);
}

#navbar li a img {
    width: 50px;
    height: 50px;
}

ul li {
    list-style: none;
}



/* responsive styles */

@media screen and (min-width: 800px) {
    nav {
        height: 100px;
    }

    #navbar li {
        margin-bottom: 0px;
        padding: 16px;
        align-content: center;
    }
    
    #navbar {
        display: flex;
        position: relative;
        top: 0;
        right: 0;
        flex-direction: row;
        justify-content: center;
        align-content: flex-end;
        flex-wrap: wrap;
        width: 100%;
        height: 100px;
        padding: 0px;
        opacity: 1;
        gap: 32px;
        margin: 0px;
        margin-top: auto;
    }

    #hamburger {
        display: none;
    }

    #navbar li:nth-child(1) {
        margin-left: auto;
    }

    #navbar li:nth-child(5) {
        margin-left: auto;
    }

    #navbar li:nth-child(6){
        margin-right: 75px;
    }
}