#testimonials {
    background-color: var(--secondary);
    color: var(--primary);
}

.line {
    display: block;
    width: 80%;
    margin: auto;
    height: 2px;
    background-color: var(--primary);
}

.line:first-of-type {
    margin-bottom: 64px;
}

.line:last-of-type {
    margin-top: 64px;
}

#testimonials h2 {
    margin-bottom: 16px;
    font-family: 'Ralewy', sans-serif;
}

#testimonials p {
    font-style: italic;
}

#testimonials p span {
    display: block;
    margin-bottom: 32px;
    font-style: none;
    font-weight: bold;
}